{{>header}}
	
<br><br>
<div class="d-flex flex-column align-items-center justify-content-center my-5 py-5">
	<img src="/images/keyrus.png" alt="Keyrus Digital">
	
	<br><br>
	<h2>Creado por:</h2>
	{{#each developers}}
		<span>{{this}}</span>
	{{/each}}
</div>

{{>footer}}