body{
	max-height: 100vh;
	min-height: 100vh;
	overflow-y: scroll;
	position: relative;
}
.flex-grow-1{
	flex-grow: 1:;
}
.logo{
	max-width: 100px;
	margin-right: 50px;
}
.chat{
	border-bottom: 1px solid #dedede;
	font-size: 12px;
	max-height: 200px;
	overflow-y: scroll;
	padding: 5px 10px;
}
.chat p{
	margin-bottom: 5px;
}
.chat__bubble{
    background-color: #007bff;
    border-radius: 50%;
    font-size: 12px;
    height: 20px;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 0px;
    transform: translate(-50%, -50%);
    width: 20px;
}
.chat__container{
	border: 1px solid #dedede;
	bottom: 0;
	position: absolute;
	right: 50px;
	width: 300px;
}
.chat__content{
	background-color: white;
}
.chat__input{
	font-size: 14px;
	padding: 5px;
}
.chat__input button{
	font-size: 14px;
}
.chat__title{
	background-color: #717171;
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	position: relative;
}
.chat__title:hover{
	cursor: pointer;
}
.component__footer{
	margin-top: 50px
}

.component__header{
	box-shadow: 0 0 10px rgba(0,0,0,.5)
}

.component__main{
	padding-top: 50px
}

.component__title{
	color: #343a40;
	font-size: 34px;
	font-weight: bold;
	padding-bottom: 16px;
	text-align: center;
	text-transform: uppercase;
}

.courses__list__header{
	background-color: #343a40;
	border-color: #454d55;
	color: #FFF;
	font-weight: bold;
	text-align: center;
}

.courses__list__header__cell{
	border: 1px solid #454d55;
}

.course__list__item{
	border: 1px solid #6c757d;
}
.course__list__item:hover{
	background-color: #f8f9fa;
	cursor: pointer;
}	
.course__list__item > div.col-6{
	padding: 1rem;
}
.course__list__item__extra{
	background-color: #6c757d;
	border-top: 1px solid #dee2e6;
	text-align: center;
}

.course__list__item__extra__data{
	background-color: #f8f9fa;
	border-top: 1px solid #dee2e6;
	text-align: center;
}
.user__icon{
	width: 60px;
	border-radius: 50%;
	border: 1px solid #dedede;
	height: 60px;
}
.user__icon i, .user__icon img{
	background-color: #b9b9b9;
	border-radius: 50%;
	color: #fff;
	font-size: 32px;
	height: 50px;
	width: 50px;
}