{{>header}}
{{>messages}}

<form class="row" method="post" action="/create">
	<div class="form-group col-12 col-md-6">
		<label for="name">Nombre del curso*</label>
		<input type="text" class="form-control" id="name" name="name" placeholder="Nombre del curso" required>
	</div>
	<div class="form-group col-12 col-md-6">
		<label for="id">C贸digo del curso*</label>
		<input type="number" class="form-control" id="id" name="id" placeholder="C贸digo del curso" required>
	</div>
	<div class="form-group col-12 col-md-6">
		<label for="description">Descripci贸n*</label>
		<input type="text" class="form-control" id="description" name="description" placeholder="Descripci贸n" required>
	</div>
	<div class="form-group col-12 col-md-6">
		<label for="price">Valor*</label>
		<input type="number" class="form-control" id="price" name="price" placeholder="Valor" required>
	</div>
	<div class="form-group col-12 col-md-6">
		<label for="modality">Modalidad</label>
		<select class="form-control" name="modality">
			<option value="presencial">Presencial</option>
			<option value="virtual">Virtual</option>
		</select>
	</div>
	<div class="form-group col-12 col-md-6">
		<label for="intensity">Intensidad horaria</label>
		<input type="number" class="form-control" id="intensity" name="intensity" placeholder="Intensidad en horas">
	</div>
	<div class="col-12 d-flex justify-content-center">
		<small class="form-text text-muted">Los campos con * son obligatorios</small>
	</div>
	<button type="submit" class="btn btn-primary col-4 ml-auto mr-auto d-flex justify-content-center">Abrir curso!</button>
</form>

{{>footer}}