{{>header}}
	
<br><br>
<div class="d-flex flex-column align-items-center justify-content-center">
	<div>
		<h3>## Instalación</h3>
		<p class="mb-0">- Descargar el repositorio:</p>
		<p class="pl-4">$ git clone https://github.com/neirupr/tdea.git</p>
		<p class="mb-0">- Ir al directorio gestorCursos:</p>
		<p class="pl-4">$ cd ./tdea</p>
		<p class="mb-0">- Instalar dependencias:</p>
		<p class="pl-4">$ npm install</p>

		<h3>## Subir el servidor</h3>
		<p>- $ node src/app</p>
		
		<h3>## Otras indicaciones</h3>
		<p class="mb-0">- Ir a localhost:3000</p>
		<p class="mb-0">- Usuario root: <strong>admin@mailinator.com/nimda</strong></p>
		<p>- Puedes verlo en tu teléfono!</p>
	</div>
</div>

{{>footer}}
