{{>header}}
	
<br><br>
<div class="d-flex flex-column align-items-center justify-content-center my-5 py-5">
	<div>
		<h3>## Install</h3>
		<p class="mb-0">- Download repository:</p>
		<p class="pl-4">$ git clone https://github.com/neirupr/tdea.git</p>
		<p class="mb-0">- Navigate to folder gestorCursos:</p>
		<p class="pl-4">$ cd ./tdea</p>
		<p class="mb-0">- Install dependencies:</p>
		<p class="pl-4">$ npm install</p>

		<h3>## Develop using</h3>
		<p>- $ nodemon src/app -e js,hbs</p>

		<h3>## Raise server as user</h3>
		<p class="mb-0">- $ node src/app</p>
		<p>- Please change in src/config the access to your local DB</p>

		<h3>## Other indications</h3>
		<p class="mb-0">- Go to localhost:3000</p>
		<p class="mb-0">- Root user: <strong>admin@mailinator.com/nimda</strong></p>
		<p>- Please make sure your mongoDB is running on port 27017</p>
	</div>
</div>

{{>footer}}
